h1{
    color: yellow;
}
h2{
    color: yellow;
}
p{
    color: yellow;
}
body {
    background-color: black;
}
img {
    width: 400px;
}
h1{font-family: 'Baloo Tamma', cursive;
}
h2{font-family: 'Baloo Tamma', cursive;
}
body{
    text-align:center;
}